*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  --twitter-color:#50b7f5;
  --twitter-background:#e6ecf0;
}
.sidebarOption{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebarOption .matrial-icons, .fa-twitter{
  padding: 20px;
}
.sidebarOption h2{
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}
.sidebarOption:hover{
  background-color:var(--twitter-background);
  border-radius: 20px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sidebarOption.active{
  color: var(--twitter-color);
}
.sidebar-tweet{
  width: 100%;
  background-color: var(--twitter-background);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body{
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding : 0 10px ;
}


.sidebar{
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.fa-twitter{
  color: var(--twitter-color);
  font-size: 30px;
}

.trends_section {
  width: 42%;
  height: 100%;
  border-left: 1px solid #e6ecf0;
  padding: 5px 53px 5px 28px;
  color: #747575;
}
.searchbox {
  width: 100%;
  background-color: #e6ecf0;
  border-radius: 30px;
  height: 45px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 14px;
}
.searchinpt {
  border: none;
  background: transparent;
  letter-spacing: 1px;
}
.searchicon {
  font-size: 32px;
  padding-top: 13px;
  padding-left: 10px;
}
.trendsbox {
  width: 100%;
  background-color: #f5f8fa;
  border-radius: 15px;
  margin-bottom: 18px;
  padding-bottom: 7px;
}
.followbox {
  width: 100%;
  background-color: #f5f8fa;
  border-radius: 15px;
  margin-bottom: 18px;
  padding-bottom: 7px;
}
.trendsdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 14px;
}
.followdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 14px;
}
.trendhashdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.showmore {
  text-decoration: none;
  color: #1da1f2;
}
.follow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 11px 14px;
  border-top: 1px solid #eeeeee;
}
.followbtn {
  border: 1px solid #1da1f2;
  background-color: transparent;
  border-radius: 25px;
  padding: 1px 15px;
  color: #1da1f2;
  font-weight: bold;
  margin: 8px 0px;
}
.trendsdiv h2 {
  font-size: 17px;
  color: #000;
  font-weight: 800;
}
.followdiv h2 {
  font-size: 17px;
  color: #000;
  font-weight: 800;
}
.settingicon {
  color: #1da1f2;
  font-size: 18px;
}
.trend {
  padding: 11px 14px;
  border-top: 1px solid #eeeeee;
}
.trendhashdiv p {
  color: #14171a;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}
.trend span {
  color: #657786;
  font-size: 13px;
  font-weight: 400;
}
.trendsetting {
  font-size: 15px;
}
.imgfollow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.privacylinks,
.copyright {
  font-size: 13px;
  color: #657786;
  text-decoration: none;
  padding-right: 17px;
  font-weight: 400;
}
.privacylist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.privecysection {
  padding-bottom: 15px;
}
.hometitle {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #e6ecf0;
}
.toptweets {
  color: #1a91da;
  font-size: 19px;
}
.tweetdiv {
  padding: 12px 17px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 10px solid #e6ecf0;
}
.tweetform {
  width: 100%;
}
.username,
.tweettext {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.username {
  border-bottom: 1px solid #e6ecf0;
  width: 92%;
  margin-bottom: 5px;
}
.tweettext {
  width: 100%;
  padding-left: 28px;
  overflow: visible;
  margin-bottom: 5px;
  resize: none;
}
.username::placeholder,
.tweettext::placeholder {
  font-size: 19px;
  color: #d9dcde;
}
.imgusertweeter {
  font-size: 25px;
  padding-top: 8px;
  color: #d9dcde;
}
.tweetbtn {
  float: right;
}
.tweetbtn {
  background-color: #1da1f2;
  border: none;
  border-radius: 22px;
  color: #fff;
  padding: 10px 17px;
}
.newsfeed {
  width: 100%;
}
.tweetpostdiv {
  padding: 15px;
  border-bottom: 1px solid #e6ecf0;
}
.tweetpostdiv:hover {
  background-color: #f5f8fa;
}
.tweetauthor {
  font-size: 16px;
  font-weight: 700;
  color: #14171a;
  padding-bottom: 10px;
}
.tweetpost {
  font-size: 15px;
  font-weight: 400;
  color: #6b6b6b;
  padding-bottom: 10px;
  text-align: justify;
  line-height: 1.5;
}
.iconsdiv {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.retweeticon {
  border: none;
  background-color: transparent;
  color: #9e9e9e;
}
.retweeticon:hover {
  color: #17bf63;
  text-shadow: 4px 5px 8px #17bf63a1;
}
.likeicon {
  border: none;
  background-color: transparent;
  color: #9e9e9e;
}
.likeicon:hover {
  color: #e23c70;
  text-shadow: 4px 5px 8px #e23c70;
}
.backgroundstyle {
  background-color: #03a9f41a !important;
}
.styleicon {
  color: #e23c70;
}
